#pasteContent {
  width: max-content;
}

span {
  word-wrap: break-word;
  white-space: pre-wrap;
}

.topRightBox {
  position: fixed;
  padding: 18px 10px;
  color: #f29718;
  background-color: #0f1419;
  top: 0px;
  right: 0px;
  font-family: "Iosevka Web", monospace;
  font-size: 20px;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.topRightBox button {
  color: inherit;
  background-color: inherit;
  margin: 0px 5px;
  border: solid 0.2px;
  border-color: #0f1419;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
}

.topRightBox button:hover {
  color: #be7611;
}

.rootBox {
  position: relative;
}

@media (max-width: 80rem) {
	#pasteContent {
        margin-top: 70px
	}
}

