<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="Description"
      content="Author: Gunwant Jain,
    A highly opinionated and minamalistic Pastebin."
    />
    <title>{{ title }}</title>

    <style>

      /* fill entire page */
      code {
          background: transparent !important;
          font-family: monospace;
      }

      body {
          /* Change background color to that of your theme's */
          background: #0f1419;
          padding: 10px;
          color: #E6E1CF;
      }

      ::selection {
          /* text selection color
             make sure to change to your your preferred color if changing the default colorscheme */
          background: #253340;
      }

      {% block styles %}
      {% endblock styles %}
    </style>

    {% block head %} {% endblock head %}
  </head>

  <body>
    {% block body %}{% endblock body %}
  </body>
</html>
