<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="Description" content="Author: Gunwant Jain,
    A highly opinionated and minimalistic Pastebin." />

  <link rel="apple-touch-icon" href="/static/media/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="192x192" href="/static/media/android-chrome-192x192.png" />
  <link rel="icon" type="image/png" sizes="512x512" href="/static/media/android-chrome-512x512.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/static/media/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/static/media/favicon-16x16.png" />
  <link rel="icon" type="image/x-icon" href="/static/media/favicon.ico" />

  <link href="/static/fonts/iosevka.css" rel="stylesheet" />

  <title>{{ title }}</title>

  <style>
    :root {
      color-scheme: dark;
    }

    /* fill entire page */
    code {
      background: transparent !important;
    }

    body {
      /* Change background color to that of your theme's */
      background: #0f1419;
      padding: 10px;
      color: #E6E1CF;
    }

    ::selection {
      /* text selection color
             make sure to change to your your preferred color if changing the default colorscheme */
      background: #253340;
    }
  </style>
  {% block styles %}
  {% endblock styles %}

  {% block head %} {% endblock head %}
</head>

<body>
  {% block body %}{% endblock body %}
</body>

</html>