{% extends "base" %}

{% block styles %}
<style>
    body {
        padding: 10px;
    }

    pre {
        margin: 0px;
        font-family: monospace;
    }
</style>
{% endblock styles %}


{% block head %}
{% endblock head %}


{% block body %}
{{ body | safe }}
{% endblock body %}