{% extends "base" %}

{% block styles %}
body {
    padding: 10px;
}
pre {
    margin: 0px;
    font-family: monospace;
}
{% endblock styles %}


{% block head %}
{% endblock head %}


{% block body %}
{{ body | safe }}
{% endblock body %}
